.reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: white;
}

.reloj-contenedor{
    background-color: rgb(12, 119, 206);
    padding: 25px;
    width: min(80%, 600px);
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    border: 10px solid transparent;
    transition: all .5s ease-in-out;
}

.hora{
    margin-bottom: 15px;
}

.fecha{
    letter-spacing: 5px;
    font-size: 15px;
}

.animar{
    transition: all .5 ease-in-out;
    border: 10px solid rgba(0, 0, 0, .3);
}